<div class="card">
	<div class="bg-warning" style="height: 150px;"></div>
	
	<div class="card-body mb-0 mr-3 top-left align-self-center wideTop">
		<div class="d-flex justify-content-between align-items-start">
			<a {{#unless campaignDisabled}}onclick="goto('/campaign/{{_id}}')"{{/unless}}>
				<h5 class="card-title mb-0" style="font-size: 15px;">
					{{campaignName}}
				</h5>
				<div class="card-text" style="font-size: 13px;">
					<p class="mb-0">by {{campaignCreatedBy}}</p>
					<p class="mb-0">
						{{#if campaignProgress.completed}}
							Campaign Completed
						{{else}}
							{{#if campaignExpired}}
								Campaign Expired
							{{else}}
								{{campaignProgress.percentage}}% influenced | {{#setSingularPlural campaignExpiry "day"}}{{/setSingularPlural}} to go
							{{/if}}
						{{/if}}
					</p>
				</div>
			</a>

			{{!-- {{#unless campaignDisabled}}
			<button class="btn btn-link text-dark p-0" style="font-size: 25px;" onclick="goto('/campaign/{{_id}}')"><i class="fas fa-arrow-alt-circle-right"></i></button>
			{{/unless}} --}}
		</div>
	
		<div class="d-flex justify-content-between align-items-end bottom-left" style="z-index: 2; width: 90%; bottom: 35px;">
			{{!-- <button class="btn btn-success btn-sm text-light m-0 ml-1 mb-1" onclick="goto('/campaign/{{_id}}')">View Campaign</button> --}}
			<div class="text-dark">
				{{#if totalEarning}}
				<h1 class="m-0 ml-1" style="font-size: 30px;">{{#decimizeBy totalEarning 3}}{{/decimizeBy}}<span style="font-size: 15px;"> TRVC</span></h1>
				{{else}}
				<h1 class="m-0 ml-1" style="font-size: 30px;">{{totalEarning}}<span style="font-size: 15px;"> TRVC</span></h1>
				{{/if}}
			</div>
			
			{{#if hasShared}}
			{{#if socialShared}}
			<span class="text-right" style="width: 50%;">
				<span style="font-size: 12px;">Shared on</span><br>

				{{#each socialShared}}
				{{#if shared}}
				<span> <img src="img/social/{{type}}.png" width="15" height="15"></span>
				{{/if}}
				{{/each}}
			</span>
			{{/if}}
			{{/if}}
		</div>
	</div>

	{{#if canRemoveBookmark}}
	<button type="button" class="close text-white top-right" style="top: 8px; right: 12px; z-index: 2;" aria-label="Close" onclick={{#genFunc2 "removeBookmark" currentUser _id}}{{/genFunc2}}>
		<span aria-hidden="true">&times;</span>
	</button>
	{{/if}}

	<div class="card-footer bg-warning pt-2 pb-2" style="z-index: 2;">
		<div class="d-flex justify-content-between align-items-center text-dark">
			<strong>{{campaignReward}} TRVC</strong>
			<strong style="font-size: 15px;">{{#setSingularPlural campaignInfluence "Influence"}}{{/setSingularPlural}}</strong>
		</div>
	</div>
</div>