<div class="bg-success text-center text-white">
	<span class="m-1">
		<p class="m-0" style="font-size: 15px;">Total Reward Earned</p>
		<h1 class="m-0">
			{{#ifLessThan totalEarning 0}}
				{{#decimize totalEarning}}{{/decimize}}
			{{/ifLessThan}}

			{{#ifMoreThan totalEarning 0}}
				{{#decimizeBy totalEarning 3}}{{/decimizeBy}}
			{{/ifMoreThan}}
		 TRVC</h1>
	</span>
	<span></span>
</div>

<div class="container mt-3 mb-5">
	<button class="btn btn-success mb-3 btn-block " onclick="goto('/payout')">Apply For Payout</button>
	
	{{#if campaigns}}
	<div class="row">
		{{#each campaigns}}
		{{#unless campaignDeleted}}
		<div class="col-sm-8 col-md-6 col-lg-4 mb-3">
			{{> campaignCardInfo this}}

			{{#unless campaignDisabled}}
				{{#if socialShared}}
				{{#each socialShared}}
				{{#if shared}}
				{{#unless complete}}
				<div class="card mt-1">
					<div class="card-body bg-light p-2 pl-3 pr-3" style="font-size: 18px;">
						<div class="d-flex justify-content-between align-items-center">
							<img src="/img/social/{{type}}.png" width="20" height="20">
							
							{{!-- <div class="progress" style="width: 60%; height: 5px;">
								<div class="progress-bar bg-success" role="progressbar" style="width: {{percentage}}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
							</div> --}}
							
							<strong style="font-size: 13px;">{{viewsLeft}} ({{percentage}})</strong>
						</div>
					</div>
				</div>
				{{/unless}}
				{{/if}}
				{{/each}}
				{{/if}}
			{{/unless}}
		</div>
		{{/unless}}
		{{/each}}
	</div>
	{{else}}
	<div class="text-center">
		<p class="ml-3 mr-3 text-muted" style="font-size: 12px;">You have not shared any campaign.<br>Go share some and earn TRVC!</p>
		<button class="btn btn-success" onclick="goto('/home');">
			View Available Campaigns
		</button>
	</div>
	{{/if}}
</div>